.places {
  width: 200px;
  height: 400px;
  background: white;

  position: absolute;
  right: 0;

  z-index: 3;

  padding: 20px 30px;
}

.placesListItem {
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.placesListItem:hover {
  transform: translateX(6px);
  color: red;
}
