.places {
  width: 200px;
  height: 100vh;
  background: white;

  position: absolute;
  top: 0;
  right: 0;

  z-index: 3;
  transform: translateX(400px);
  transition: transform 0.5s ease-in-out;
  padding-left: 15px;
  padding-right: 15px;

  input[type='text'] {
    margin-top: 11px;
    margin-bottom: 30px;
  }
}

.places.open {
  transform: translateX(0);
}

.placesWrapper {
  display: flex;
  align-items: center;
}

.placesListItem {
  cursor: pointer;
  padding: 0 10px 0 10px;
  font-family: 'Open Sans', sans-serif;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.placesListItemSelected {
  color: #ff3603;
  transform: translateX(6px);
}

.deletePlace {
  background: url('../../assets/cancel.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 14px;
  width: 14px;
  border: none;
  cursor: pointer;
}
